.main {
    padding: 1rem;
}

.api-status.error {
    color: red;
}

.api-status.loading {
    color: yellowgreen;
}

.api-status.idle {
    color: green;
}

input {
    width: 100%;
}

.result-table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.result-span {
    text-align: center;
    width: 25%;
}
