@import url('../../main.css');
.main {
    padding: 1rem;
}

.api-status.error {
    color: red;
}

.api-status.loading {
    color: yellowgreen;
}

.api-status.idle {
    color: green;
}

input {
    width: 100%;
}

